/* Type and text */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    font: 1.2em / 1.5 system-ui;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: red;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Styling the pane */

.pane {
    height: 100%;
}

h1,
.controls {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
}

.controls {
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

button {
    flex: 1;
}